<h1>My Bulk Discounts</h1>
<%= link_to 'New Discount', '/merchant/discounts/new' %>

<h2>Discounted Items</h2>
<% @items.each do |item| %>
  <section id="item-<%= item.id %>">
    <p><%= link_to item.name, "/items/#{item.id}" if item.discounts != [] %> </p>
    <% item.discounts.each do |discount| %>
      <p><%= discount.amount %>% discount on <%= discount.num_items %> or more items</p>
    <% end %><br>
  </section>
<% end %>