<h2>New Discount</h2>
<%= form_tag "/merchant/discounts" do %>
  <%= label_tag "Percent Discount" %>
  <%= number_field_tag :amount %>

  <%= label_tag "Minimum Items" %>
  <%= number_field_tag :num_items %>

  <%= submit_tag 'Create Discount' %>
<% end %>

